.page {
    display: wrap;
    width: 100%;
    background-color: #1DB954;
    padding: 30px;
    border-radius: 8%;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

   .spot {
    margin: 5px;
   }

   .ranks {
    height: 100%;
    overflow-y: auto;
   }

   button {
    margin-top: 30px;
    background-color: #48e27e;
}