.page {
    display: wrap;
    width: 100%;
    background-color: #1DB954;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 8%;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

.score-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
}

.lives {
    order: 1;
    width: 100%;
    background-color: #1DB954;
    border-radius: 50%;
    text-align: center;
    margin-right: 50px;
}

.score {
    order: 2;
    width: 100%;
    background-color: #1DB954;
    border-radius: 50%;
    text-align: center;
    margin-right: 50px;
}

.streak {
    order: 3;
    width: 100%;
    background-color: #1DB954;
    border-radius: 50%;
    text-align: center;

}

.radio-options {
    padding-left: 40%;
    justify-content: left;
    text-align: left;
    align-items: left;
}