/* You can add global styles to this file, and also import other style files */

body {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

app-root {
    width: 70%;
    padding-top: 10%;
}