.page {
 display: wrap;
 width: 100%;
 background-color: #1DB954;
 padding: 30px;
 border-radius: 8%;
 justify-content: center;
 align-items: center;
 text-align: center;
 font-size: 1.3em;
}

.top-box {
    order: 1;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
     align-items: center;
    text-align: center;
}

.genre {
    order: 2;
    border-radius: 10%;
    width: 100%;
    margin-right: 20px;;
    background-color: #48e27e;
    padding-bottom: 10px;
}

.difficulty {
    order: 3;
    border-radius: 10%;
    width: 100%;
    margin-left: 20px;
    background-color: #48e27e;
    padding-bottom: 10px;
}

.username-input {
    order: 4;
    border-radius: 10%;
    background-color: #48e27e;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

button {
    margin-top: 30px;
    background-color: #0D5C29;
}